In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train_df1 = pd.read_csv('train_df1.csv')
test_df1 = pd.read_csv('test_df1.csv')
train_df1.head()

,Unnamed: 0,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title
0,0,0,3,1,22.0,1,0,7.2500,1,1
1,1,1,1,2,38.0,1,0,71.2833,2,3
2,2,1,3,2,26.0,0,0,7.9250,1,2
3,3,1,1,2,35.0,1,0,53.1000,1,3
4,4,0,3,1,35.0,0,0,8.0500,1,1

In [3]:
train_df1.shape

(891, 10)

In [4]:
test_df1.head()

   Unnamed: 0  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Title
0           0       3    1  34.5      0      0   7.8292         3      1
1           1       3    2  47.0      1      0   7.0000         1      3
2           2       2    1  62.0      0      0   9.6875         3      1
3           3       3    1  27.0      0      0   8.6625         1      1
4           4       3    2  22.0      1      1  12.2875         1      3

In [5]:
train_df1  = train_df1.drop(['Unnamed: 0'], axis = 1)
test_df1 = test_df1.drop(['Unnamed: 0'], axis=1)

In [6]:
train_df1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Title
0         0       3    1  22.0      1      0   7.2500         1      1
1         1       1    2  38.0      1      0  71.2833         2      3
2         1       3    2  26.0      0      0   7.9250         1      2
3         1       1    2  35.0      1      0  53.1000         1      3
4         0       3    1  35.0      0      0   8.0500         1      1

In [7]:
train_df1.shape

(891, 9)

In [8]:
test_df1.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Title
0       3    1  34.5      0      0   7.8292         3      1
1       3    2  47.0      1      0   7.0000         1      3
2       2    1  62.0      0      0   9.6875         3      1
3       3    1  27.0      0      0   8.6625         1      1
4       3    2  22.0      1      1  12.2875         1      3

In [9]:
test_df1.shape

(418, 8)

In [10]:
#split into dept var  and indept var
y_train = train_df1.iloc[:,0].values
X_train = train_df1.iloc[:,1:].values

In [11]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [13]:
# Predicting the Test set results
y_pred = classifier.predict(test_df1)

In [14]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0], dtype=int64)

In [15]:
y_pred.shape

(418,)

In [16]:
alog = round(classifier.score(X_train, y_train) * 100, 2)
alog

81.480000000000004

In [17]:
sample_submission = pd.read_csv('gender_submission.csv')
sample_submission.shape

(418, 2)

In [18]:
sample_submission.keys()

Index(['PassengerId', 'Survived'], dtype='object')

In [19]:
my_submission = {'PassengerId': sample_submission['PassengerId'], 'Survived': y_pred}

In [20]:
first_submission = pd.DataFrame(my_submission)

In [21]:
first_submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [23]:
first_submission.shape

(418, 2)

In [24]:
first_submission.to_csv('First_submission_logistic_regression.csv')